name: elixir
description: "A declarative Navigator 2.0 helper."
version: 0.2.0

homepage: https://github.com/Miracle-Blue/elixir

environment:
  sdk: ^3.7.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

  
